/* HTML: <div class="loader"></div> */
.sender {
    width: fit-content;
    font-weight: bold;
    font-family: monospace;
    font-size: 20px;
    clip-path: inset(0 3ch 0 0);
    animation: l4 1s steps(4) infinite;
  }
  .sender:before {
    content:"sending...";
    color: #fe04b4;
    font-size: 18px;
    
  }
  @keyframes l4 {to{clip-path: inset(0 -1ch 0 0)}}